@import "tailwindcss";

:root {
  font-family: "Geist", sans-serif;
  line-height: 1.5;
  font-weight: 700;

  color-scheme: light dark;
  background-color: #ffffff;
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
